.card {
    max-width: 345px;
    margin: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }

  .button{
    width: 100%;
    margin-top: 50px;
  }

  .button_name{
    color: black;
  }

  .b{
    margin-top: 20px;
  }